@model IndexModel
@{
    var countryCode = "FR";
    var shippingPrice = 800;
    var ownTransport = 0;
    // set shipping to zero if country code doesnt exist . 
}

<div>
    <h4>
        <strong>Update Shipping Option</strong>
    </h4>
</div>
<div class="form-check">
    <div class="row gx-5">
        <div class="col-md-8">
            <input class="form-check-input" type="radio" name="shippingOptions" id="deliverToYourYard" value="@shippingPrice" checked>
            <label for="deliverToYourYard">Delivery to your Yard :</label>
        </div>
        <div class="col-md-4">
            <label class="form-check-label" for="deliverToYourYard">&pound; @shippingPrice </label>
        </div>
    </div>
</div>

<div class="form-check">
    <div class="row gx-5">
        <div class="col-md-8">
            <input class="form-check-input" type="radio" name="shippingOptions" id="ownTransport" value="@ownTransport">
            <label for="ownTransport">Own Transport :</label>
        </div >
        <div class="col-md-4">
            <label class="form-check-label" for="ownTransport"> &pound; @ownTransport</label>
        </div >
    </div>
</div>