@model IndexModel
@{
    
}

<div>
    <h4>
        <strong>Update Shipping Option</strong>
    </h4>
</div>
<div class="form-check">
    <div class="row gx-5">
        <div class="col-md-8">
            <!-- <input class="form-check-input" type="radio" name="shippingOptions" id="deliverToYourYard" value="NewShipping.ShippingCost" checked>
            <label for="deliverToYourYard">Delivery to your Yard :</label> -->
            <input type="radio" asp-for="NewShipping.DeliveryOption" value="DeliveryToYard" id="deliveryToYard" checked/>
            <label for="deliveryToYard">Delivery to Yard :</label>
        </div>
        <div class="col-md-4">
            <label id="delivaryChargeLabel" asp-for="NewShipping.ShippingCost">&pound; @Model.NewShipping.ShippingCost</label>
        </div>
    </div>
</div>

<div class="form-check">
    <div class="row gx-5">
        <div class="col-md-8">
            <!-- <input class="form-check-input" type="radio" name="shippingOptions" id="ownTransport" value=""> -->
            <!-- <label for="ownTransport">Own Transport :</label> -->

            <input type="radio" asp-for="NewShipping.DeliveryOption" value="OwnTransport" id="ownTransport" />
            <label for="ownTransport">Own Transport :</label>
            
        </div >
        <div class="col-md-4">
         
            <label id="ownTransportLabel" asp-for="NewShipping.OwnTransport" >&pound; @Model.NewShipping.OwnTransport</label>
        </div >
    </div>
</div>